{% extends "AppBundle::base.html.twig" %}

{% block title %}Activités{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-9 col-md-offset-1 ">
            
            <a href={{path('show_activitie')}}>
                <div class="toSubscrib col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>INSCRIPTION 1</p>
                </div>
            </a>
            <a href={{path('show_activitie')}}>
                <div class="toSubscrib col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>INSCRIPTION 2</p>
                </div>
            </a>
             <a href={{path('show_activitie')}}>
                <div class="toSubscrib col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>INSCRIPTION 3</p>
                </div>
            </a>
            <a href={{path('show_activitie')}}>
                <div class="proposal col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>PROPOSE 1</p>
                </div>
            </a>
            <a href={{path('show_activitie')}}>
                <div class="proposal col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>PROPOSE 2</p>
                </div>
            </a>
            <a href={{path('show_activitie')}}>
                <div class="proposal col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>PROPOSE 3</p>
                </div>
            </a>
            <a href={{path('show_activitie')}}>
                <div class="proposal col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>PROPOSE 4</p>
                </div>
            </a>
            <a href={{path('show_activitie')}}>
                <div class="completed col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>EFFECTUE 1</p>
                </div>
            </a>
            <a href={{path('show_activitie')}}>
                <div class="completed col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>EFFECTUE 2</p>
                </div>
            </a>
            <a href={{path('show_activitie')}}>
                <div class="completed col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>EFFECTUE 3</p>
                </div>
            </a>
            <a href={{path('show_activitie')}}>
                <div class="completed col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                    <p>EFFECTUE 4</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
